# Ignore node_modules (for client-side code)
client/node_modules/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore virtual environment
venv/
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor-specific files
.vscode/
.idea/

# Ignore log files
*.log