.lyrics-container {
  width: 100%; 
  max-width: 100%;
  height: 30vh;
  overflow-y: auto; 
  border: 1px solid #ccc;
  padding: 25px 10px;
  box-sizing: border-box;
  background: linear-gradient(to bottom right, #fff9e6, #ffecb3); 
  border-radius: 10px;


 
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.lyrics-container::-webkit-scrollbar {
  display: none; 
}

.lyrics-line {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; 
  margin-bottom: 5px; 
  line-height: 2.5; 
}

.lyrics-word {
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding: 0 5px;
  color: #000000;
  margin-right: 10px;
  font-size: 1.2rem; 
  white-space: nowrap;
  position: relative; 
}

.chord {
  font-weight: bold;
  color: #f39c12;
  font-size: 1rem;
  position: absolute; 
  top: -1.2rem; 
  left: 50%;
  transform: translateX(-50%); 
  margin-bottom: 2px; 
}

/* Additional rules for lyrics with vocals to maintain consistent spacing */
.lyrics-line.vocals {
  margin-bottom: 10px; /* Closer spacing for vocals */
}

/* RTL (Right-to-Left) styling for Hebrew or RTL languages */
.rtl {
  text-align: right;
  direction: rtl; 
}

.scrolling-button {
  margin: 10px auto; 
  display: block; 
  background-color: #fdd835;
  color: #333333; 
  padding: 12px 24px; 
  border: none;
  border-radius: 5px;
  font-size: 1.2rem; 
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.scrolling-button:hover {
  background-color: #fbc02d;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.scrolling-button:active {
  background-color: #f9a825;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}


@media (max-width: 768px) {
  /* Tablet and smaller screens */

  .lyrics-container {
    padding: 10px; 
    font-size: 1rem; 
  }

  .lyrics-line {
    margin-bottom: 8px; 
  }

  .lyrics-word {
    font-size: 1rem;
  }

  .chord {
    top: -1rem; 
    font-size: 0.9rem; 
  }
  .scrolling-button {
    padding: 10px 20px; 
    font-size: 1rem; 
  }
}

@media (max-width: 480px) {
  /* Mobile phones */

  .lyrics-container {
    padding: 5px;
    font-size: 0.9rem; 
    height: 40vh; 
  }

  .lyrics-line {
    margin-bottom: 6px;
  }

  .lyrics-word {
    margin-right: 5px; 
    font-size: 0.9rem;
  }

  .chord {
    top: -0.8rem; 
    font-size: 0.8rem;
  }
  .scrolling-button {
    padding: 8px 16px;
    font-size: 1rem;
    border-radius: 20px;
  }
}
