.result-page-container {
    padding: 20px;
    background-color: #646262;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    max-width: 300px;
    margin: 0 auto;
  }
  
  .result-page-container h2 {
    text-align: center;
    font-size: 1.8rem;
    color: #fdd835; 
    margin-bottom: 20px;
  }
  
  .songs-list {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    max-height: 250px; 
    overflow-y: auto; 
    padding-right: 10px; 
}
  
  .song-item {
    padding: 15px 20px;
    margin-bottom: 10px;
    background-color: #ffecb3; 
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
  }
  
  .song-item:hover {
    background-color: #fdd835;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  }
  
  .song-item strong {
    font-size: 1.2rem;
    color: #333; 
  }
  .song-item span {
    font-size: 1rem;
    color: #131111; 
  }

.new-search-button {
  background-color: #fdd835;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  display: block;
  width: 100%; 
  margin-top: 20px;
}

.new-search-button:hover {
  background-color: #fbc02d; 
}

.no-songs-message {
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  margin-top: 20px; 
}
  
  @media (max-width: 768px) {
    .result-page-container {
      max-width: 90%;
    }
  
    .song-item {
      padding: 12px 16px;
    }
  
    .song-item strong {
      font-size: 1.1rem;
    }
  
    .song-item span {
      font-size: 0.9rem;
    }
  }
  
  @media (max-width: 480px) {
    .result-page-container {
      max-width: 100%;
    }
  
    .song-item {
      padding: 10px 14px;
    }
  
    .song-item strong {
      font-size: 1rem;
    }
  
    .song-item span {
      font-size: 0.8rem;
    }
  }